<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title> 
    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/admin_assets/assets/css/magiczoom.css">
    <script src="/admin_assets/assets/js/magiczoom.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>

    <!-- Start Header Area -->
    <%- include('partials/nav')%>
        <!-- End Header Area -->
        <!-- Start Banner Section -->
        <section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>Shopping</h1>
                        <nav class="d-flex align-items-center">
                            <a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
                            <a href="#">Checkout</a>
                        </nav>
                    </div>
                </div>
            </div>
        </section>


        

		<div class="container mt-5">
			<h1 class="mb-4">Order History</h1>
	
			<% if (orders.length === 0) { %>
				<p>No orders found.</p>
			<% } else { %>
				<ul class="list-group">
					<% orders.forEach(order => { %>
						<li class="list-group-item mb-3">
                            <div class="d-flex justify-content-between">
							<h5>Order ID: <%= order.orderId %></h5>
                            <% if (order.status !== 'Cancelled' && order.status !== 'Delivered') { %>
                                <a href="/cancelorder/<%= order._id %>"> Cancel</a>
                                <% } %>
                        </div>
							<p>Amount: ₹<%= order.amount %></p>
                            <p>Status: <%= order.status %></p>
							
							<!-- Iterate over order items -->
							<ul class="list-group">
								<% order.items.forEach(item => { %>
									<li class="list-group-item">
                                        <img src="/<%= item.productId.images[0] %>" alt="" style="height: 100px; width: 100px;">
										<p>Product Name: <%= item.productId.name %></p>
										<p>Quantity: <%= item.quantity %></p>
										<!-- Add more details as needed -->
									</li>
								<% }); %>
							</ul>
						</li>
					<% }); %>
				</ul>
			<% } %>
		</div>
	
	





        <%- include('partials/footer')%>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="/public/user_assets/js/vendor/jquery-2.2.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                crossorigin="anonymous"></script>
            <script src="/public/user_assets/js/vendor/bootstrap.min.js"></script>
            <script src="/public/user_assets/js/jquery.ajaxchimp.min.js"></script>
            <script src="/public/user_assets/js/jquery.nice-select.min.js"></script>
            <script src="/public/user_assets/js/jquery.sticky.js"></script>
            <script src="/public/user_assets/js/nouislider.min.js"></script>
            <script src="/public/user_assets/js/countdown.js"></script>
            <script src="/public/user_assets/js/jquery.magnific-popup.min.js"></script>
            <script src="/public/user_assets/js/owl.carousel.min.js"></script>
            <!--gmaps Js-->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
            <script src="/public/user_assets/js/gmaps.min.js"></script>
            <script src="/public/user_assets/js/main.js"></script>

</body>

</html>