<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>UrbanSole</title>
	<!--
		CSS
		============================================= -->
        <link rel="stylesheet" href="/css/linearicons.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/themify-icons.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/nouislider.min.css">
        <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
        <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/admin_assets/assets/css/magiczoom.css">
        <script src="/admin_assets/assets/js/magiczoom.js"></script>
     
</head>
<style>
#size {
    border: 2px solid red !important;
	.size-selector {
    display: flex;
    gap: 10px;
}

}

.size-selector {
    display: flex;
    gap: 10px;
}

.size-circle {
	background-color: orange;
	color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid orange;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.size-circle:hover {
    background-color: rgba(191, 184, 184, 0.522);
	color: orange;
}

.hidden-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.hidden-radio:checked + .size-circle {
    background-color: white;
    color: orange;
    border-color:  orange;
}


</style>

<body>

	<!-- Start Header Area -->
	<%- include('partials/nav')%>
		<!-- End Header Area -->
		<!-- Start Banner Section -->
		<section class="banner-area organic-breadcrumb">
			<div class="container">
				<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
					<div class="col-first">
						<h1>Shopping</h1>
						<nav class="d-flex align-items-center">
							<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
							<a href="#">Single Product</a>
						</nav>
					</div>
				</div>
			</div>
		</section>


		<section class="product-details mt-4">
			<div class="container">
				<form id="productForm" action="/add-to-cart/<%= product._id %>" method="post">
					<div class="row">
						<!-- Product Image -->
						<div class="col-lg-6">
							<div class="product-image">
								<a href="/<%= product.images[0] %>" class="MagicZoom" id="Mag">                    
									<img id="mainImage" src="/<%= product.images[0] %>" alt="Product Image" class="img-fluid" 
									style="width: 300px; height: 300px; object-fit: cover;">
								</a>
							</div>
							<div class="additional-images mt-2 d-flex">
								<% product.images.forEach((image, index) => { %>
									<div class="additional-image ml-2" data-image="/<%= image %>" value="<%= index %>">
										<img src="/<%= image %>" alt="Additional Product Image" class="img-thumbnail"  
										style="width: 75px; height: 75px; object-fit: cover;">
									</div>
								<% }); %>
							</div>
						</div>
						
						<div class="col-lg-6">
							<div class="product-info">
								<h2><%= product.name %></h2>
								<p class="lead">₹ <%= product.price %></p>
								<p><%= product.description %></p>
								<% if( avgRating.length > 0 ) { %>
								<p>Average Ratings: <%= avgRating[0].avg %>  <span class="fa fa-star" style="color: green; border: 1px solid green;"></span></p>
								<% } %>
								<div class="form-group">
									<label for="size">Select Size:</label>
									<div class="size-selector">
										<input type="radio" id="size-6" name="size" value="6" class="hidden-radio" required>
										<label for="size-6" class="size-circle">6</label>
								
										<input type="radio" id="size-7" name="size" value="7" class="hidden-radio" required>
										<label for="size-7" class="size-circle">7</label>
								
										<input type="radio" id="size-8" name="size" value="8" class="hidden-radio" required>
										<label for="size-8" class="size-circle">8</label>
								
										<input type="radio" id="size-9" name="size" value="9" class="hidden-radio" required>
										<label for="size-9" class="size-circle">9</label>
									</div>
								</div>
								
								
								
							
								
								<div class="interactive-icons mt-5">
									<button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
									<a href="/wishlist/<%= product._id %>" class="btn btn-danger ml-2"><i class="fa fa-heart"></i> Add to Wishlist</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>

		<div class="container mt-4">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center">Related Products</h2>
				</div>
				<% relatedpro.forEach(product=> { %>
					
					<div class="col-md-3 mt-4"> 
						<a href="/singleproduct/<%= product._id %>">
						<div class="card" style="border: none;">
							<img src="/<%= product.images[0] %>" class="card-img-top"
								alt="<%= product.name %>"
								style="width: 175px; height: 175px; object-fit: cover;">
							<div class="card-body">
								<h5 class="card-title">
									<%= product.name %>
								</h5>
								<p class="card-text">Price:₹ <%= product.price %>
								</p>
							</div>
						</div>
					</a>
					</div>
				
					<% }); %>

			</div>
		</div>





		<div class="modal fade" id="outOfStockModal" tabindex="-1" role="dialog" aria-labelledby="outOfStockModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="outOfStockModalLabel">Out of Stock</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Selected item is out of stock.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
		


        <%- include('partials/footer')%>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script>
	
		</script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
				document.addEventListener('DOMContentLoaded', function () {
					var additionalImages = document.querySelectorAll('.additional-image');
				
					additionalImages.forEach(function (image) {
						image.addEventListener('click', function () {
							var newImageSrc = this.getAttribute('data-image');
							var index = this.getAttribute('value');
							document.getElementById('mainImage').src = newImageSrc;
							var magLink = document.getElementById('Mag');
							magLink.setAttribute('href', newImageSrc);
							console.log('Updated href:', magLink.getAttribute('href'));
							if (typeof MagicZoom !== 'undefined' && typeof MagicZoom.stop === 'function') {
   								 MagicZoom.stop('Mag');
  								  document.getElementById('mainImage').src = newImageSrc;
   								 MagicZoom.start('Mag');
							} else {
    								console.warn('MagicZoom not available or stop function not defined.');
								}

							
						});
					});
				});
			</script>
			
			
		

        <script src="/public/user_assets/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="/public/user_assets/js/vendor/bootstrap.min.js"></script>
        <script src="/public/user_assets/js/jquery.ajaxchimp.min.js"></script>
        <script src="/public/user_assets/js/jquery.nice-select.min.js"></script>
        <script src="/public/user_assets/js/jquery.sticky.js"></script>
        <script src="/public/user_assets/js/nouislider.min.js"></script>
        <script src="/public/user_assets/js/countdown.js"></script>
        <script src="/public/user_assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/user_assets/js/owl.carousel.min.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/public/user_assets/js/gmaps.min.js"></script>
        <script src="/public/user_assets/js/main.js"></script>
						
</body>
                        
</html>