<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--
		CSS
		============================================= -->
        <link rel="stylesheet" href="/css/linearicons.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/themify-icons.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/nice-select.css">
        <link rel="stylesheet" href="/css/nouislider.min.css">
        <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
        <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/admin_assets/assets/css/magiczoom.css">
        <script src="/admin_assets/assets/js/magiczoom.js"></script>
     
</head>
<style>
#size {
    border: 2px solid red !important;
}
</style>

<body>

	<!-- Start Header Area -->
	<%- include('partials/nav')%>
		<!-- End Header Area -->
		<!-- Start Banner Section -->
		<section class="banner-area organic-breadcrumb">
			<div class="container">
				<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
					<div class="col-first">
						<h1>Shopping</h1>
						<nav class="d-flex align-items-center">
							<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
							<a href="#">Single Product</a>
						</nav>
					</div>
				</div>
			</div>
		</section>


		<section class="product-details mt-4">
			<div class="container">
				<form id="productForm" action="/add-to-cart/<%= product._id %>" method="post">
					<div class="row">
						<!-- Product Image -->
						<div class="col-lg-6">
							<div class="product-image">
								<a href="/<%= product.images[0] %>" class="MagicZoom" id="Mag">                    
									<img id="mainImage" src="/<%= product.images[0] %>" alt="Product Image" class="img-fluid" 
									style="width: 300px; height: 300px; object-fit: cover;">
								</a>
							</div>
							<div class="additional-images mt-2 d-flex">
								<% product.images.forEach((image, index) => { %>
									<div class="additional-image ml-2" data-image="/<%= image %>">
										<img src="/<%= image %>" alt="Additional Product Image" class="img-thumbnail"  
										style="width: 75px; height: 75px; object-fit: cover;">
									</div>
								<% }); %>
							</div>
						</div>
						
						<!-- Product Details -->
						<div class="col-lg-6">
							<div class="product-info">
								<h2><%= product.name %></h2>
								<p class="lead">₹ <%= product.price %></p>
								<p><%= product.description %></p>
						
								<!-- Product Size Selection -->
								<div class="form-group">
									<label for="size">Select Size:</label>
									<select id="size" name="size" class="form-control"  required>
										<option value="" disabled selected>Select size</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>
							
								<!-- Interactive Icons -->
								<div class="interactive-icons mt-5">
									<button type="button" class="btn btn-primary" onclick="addToCart()"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
									<a href="#" class="btn btn-danger ml-2"><i class="fa fa-heart"></i> Add to Wishlist</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		


        <%- include('partials/footer')%>
		<script>
			function addToCart() {
				// console.log("hi");
				var size = document.getElementById('size');
				var selectedSize = size.value;
		
				if (selectedSize == "") {
					alert("Please select size")
					size.style.border = "5px solid red";
					console.log("yes");  
					return;
				}
				else{
				console.log("no"); 
				}
		
				  
			}
		</script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var additionalImages = document.querySelectorAll('.additional-image');
			
				additionalImages.forEach(function (image) {
					image.addEventListener('click', function () {
						var newImageSrc = this.getAttribute('data-image');
						document.getElementById('mainImage').src = newImageSrc;
						document.getElementById('Mag').setAttribute('href', newImageSrc);
						MagicZoom.update('Mag');
					});
				});
			});
			</script>
			
			
		

        <script src="/public/user_assets/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="/public/user_assets/js/vendor/bootstrap.min.js"></script>
        <script src="/public/user_assets/js/jquery.ajaxchimp.min.js"></script>
        <script src="/public/user_assets/js/jquery.nice-select.min.js"></script>
        <script src="/public/user_assets/js/jquery.sticky.js"></script>
        <script src="/public/user_assets/js/nouislider.min.js"></script>
        <script src="/public/user_assets/js/countdown.js"></script>
        <script src="/public/user_assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/user_assets/js/owl.carousel.min.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/public/user_assets/js/gmaps.min.js"></script>
        <script src="/public/user_assets/js/main.js"></script>
						
</body>
                        
</html>